    {% if cart.getItems().count() %}
        <div class="row-with-margin">
            <ul>
                {% for item in cart.getItems() %}
                    <li>{{ item.getQuantity() }} &times; {{ item.getProduct().getTitle() }} {{ item.calculateTotalPrice() | price }}</li>
                {% endfor %}
            </ul>
            <div>Total: {{ cart.calculateTotalPrice() | price }}</div>
            <div class="row-with-margin"><a href="{{ path('cart_clear') }}" class="btn btn-danger">Clear cart</a> </div>
        </div>
    {% endif %}