{% extends 'BigsoftStoreBundle::layout.html.twig' %}
{% block content %}
    <div class="row row-with-margin">
        <div class="col-md-4">
            <a href="{{ path('product_create') }}" class="btn btn-primary">Create New Product</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            {% for product in products %}
                <tr>
                    <td><img src="{{ asset('bundles/bigsoftstore/images/50x50.gif') }}"/></td>
                    <td>
                        <div class="lead">
                            <a href="{{ path('product_view', {'id' : product.getId()}) }}">{{ product.getTitle() }}</a>
                        </div>
                    </td>
                    <td>{{ product.getPrice()|price }}</td>
                    <td>
                        <a href="{{ path('product_edit', {'id' : product.getId()}) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{{ path('product_delete', {'id' : product.getId()}) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-warning">Sorry, no records found for your request</div>
            {% endfor %}
        </table>
    </div>
{% endblock %}